::-webkit-scrollbar{
    width: 14px;
    
}
::-webkit-scrollbar-button{
    display: none;
}
::-webkit-scrollbar-track{
    background-color: #000;
}
::-webkit-scrollbar-track-piece{
    visibility: hidden;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.795);
}
::-webkit-scrollbar-corner{
    display: none;
} 
::-webkit-resizer{
    visibility: hidden;
}
*{
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    box-sizing:border-box;
    list-style-type: none;
    text-decoration: none;
}
header,section,footer{
    width: 100vw;
    display: flex;
    justify-content: center;
}
body{
    overflow-x: hidden;;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap;
}
h1{
    font-size: 48px;
    color: #CD6326;
}
h2{
    line-height: 36px;
    margin-top: 120px;
    font-weight: normal;
    font-size: 48px;
    color: #333333;
    line-height: 72px;
}
h3{
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;
    color: #333;
}
h4{
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #f7f7f7;
}
small{
    font-weight: normal;
    font-size: 17px;
    line-height: 27px; 
    color: #f7f7f7;
}
sh-2{
    font-family: Open Sans;
    font-weight: normal;
    font-size: 24px;
    color: #666;
}
header{
    min-height: 100vh;
    background: url(/assets/hero.png) top center / cover;
}
.container{
    width:1200px;
}
.logo{
    display: flex;
    padding-top: 20px;
    font-size:32px;
    color:#f7f7f7;
}
.logo__name{
    transition: 0.5s all ease;
    line-height:60px;
    padding-left: 15px;
    cursor: pointer;
}
.logo__name:hover{
    color:#888;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.navigation{
    align-items: center;
    font-weight: normal;
    line-height: 60px;
    padding-top: 20px;
    display: flex;
    font-size: 23px;
    color: #f7f7f7;
    width: 40%;
    justify-content: space-between;
}
.signIn{
    outline: none;
    transition: 0.5s all ease;
    cursor: pointer;
    font-weight: normal;
    color: inherit;
    font-size: 23px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #CD6326;
    border-radius: 5px;
    padding: 0 23px;
    height: 50px;
}
.navigation__links{
    transition: 0.5s all ease;
    color: #f7f7f7;
}
.navigation__links:visited, .navigation__links:focus{
    color:white;
    outline: none;
}
.navigation__links:hover, .signIn:hover, .fa-search:hover{
    color: #888;
}
.fa-search{
    cursor: pointer;
    transition: 0.5s all ease;
}
.text-regular-light{
    font-size: 18px;
    color: #f7f7f7;
}
.donate{
    transition: 0.5s color ease;
    display: block;
    font-size: 23px;
    height: 60px;
    padding: 0 42px;
    border-radius: 5px;
    outline: none;
    border: 0px solid black;
    margin-top: 49px;
    line-height: 27px;
    background-color: #CD6326;
    cursor: pointer;
    font-weight: 400;
    color: #f7f7f7;
    
}
.donate:hover{
    color: #888;
}
.motto{
    margin-top: 15vh;
    margin-bottom: 50px;
}
.description{
    margin-top: 51px;
}
.articles{
    min-width: 100vw;
    background-color: #ccc;
    min-height: 100vh;
}
.mobile-navigation{
    z-index: 100;
    display: none;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
}
.mobile-navigation  *{
    display: none;
}
.burger{
    cursor: pointer;
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #CD6326;
    margin-right: 35px;
    margin-top: 20px;
}
.bars{
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 3px;
    background-color: #CD6326;
    display: block;
}
.bars:before{
    position: absolute;
    content: ' ';
    top: -10px;
    width: 30px;
    height: 3px;
    background-color: #CD6326;
    display: block;
}
.bars:after{
    position: absolute;
    content: ' ';
    bottom: -10px;
    width: 30px;
    height: 3px;
    background-color: #CD6326;
    display: block;
}
.open-checkbox{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.link{
    display: block;
}
.burger > .mobile-menu{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    transition: 1s top ease;
    position: fixed;
    top:-100vh;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: #126116;
    z-index: -2;
}
.mobile-menu > .navigation__links{
    font-size: 25px;
    width: 100%;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    z-index: 100;
    color: #da580d;
}
.mobile-menu{
    position: fixed;
    display: none;
    width: 100vw;
    height: 10px;
    top: 0;
    left: 0;
}
.open-checkbox:checked ~ .mobile-menu{
    top: 0;
}
.articles__subheader{
    margin-top: 20px;
}
.slider__window{
    overflow:hidden;
    height: 360px;
    position: relative;
    display: block;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 239px;
}
.slider{
    transition: 1s left ease;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
}
.articles__subheader, .articles__header{
    display: flex;
    justify-content: center;
}
.element{
    position: relative;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 360px;
}
.element > img{
    z-index: 0;
}
.left, .right{
    cursor: pointer;
    z-index: 99;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.right{
    display: none;
    right:10px;
}
.left{
    display: none;
    left:10px;
}
.element__header{
    left: 50%;
    transform: translateX(-50%);
    bottom: 77px;
    position: absolute;
    text-align: center;
}
.element__subheader{
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    position: absolute;
    text-align: center;
}
.email{
    align-items: center;
    background-color: #ccc;
    flex-direction: column;
    padding-bottom: 239px;
}
.get_notified{
    text-align: center;
    margin-bottom: 59px;
}
.text_area{
    display: block;
    width:540px;
    max-height: 60px!important;
    background-color: transparent;
    border: 1px solid #666;
    color: #666;
    outline: none;
    font-size: 23px;
    line-height: 59px;
    padding-left: 15px;
    resize: none;
}
.send_button{
    line-height: 27px;
    outline: none;
    color: #f7f7f7;
    border-radius: 0 5px 5px 0;
    width:120px;
    height: 60px;
    background-color: #CD6326;
    border: 1px solid #CD6326;
    cursor: pointer;
}
.submit{
    max-width: 100%;;
    display: flex;
}
.pages{
    display: flex;
    background: url(assets/footer.jpg) top center / cover;
    width: 100vw;
    height: 30vh;
    flex-direction: row;
}
.footer{
    height: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.footer__logo{
    padding-top: 0;
}
.social__button{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #f7f7f7;
    margin-left: 27px;
    justify-content: center;
    align-items: center;
}
.social__button:first-child{
    margin-left: 0;
}
.social{
    display: flex;
}
/*Laptops*/
@media(min-width: 1025px){
    .element{
        width: 400px;
        max-width: 33.33vw;
    }
}
@media (max-width: 1024px){
    .left, .right{
        display: block;
    }
    .element{
        width: 50vw;
    }
}

@media screen and (min-width: 980px) and (max-width: 1250px){
    .logo{
        padding-left: 20px;
        
    }
    .navigation{
        padding-right: 20px;
        
    }
    .motto{
        padding-left: 50px;
    }
}
/*Large phones and tablets*/
@media screen and (max-width: 979px){
    .logo{
        padding-left: 20px;
    }
    .navigation{
        padding-right: 20px;
        
    }
    .motto{
        padding-left: 50px;
    }
    .navigation{
        display: none;
    }
    .mobile-navigation{
        display: block;
    }
}
/*Phones*/
@media screen and (max-width: 767px){
    .motto{
        margin-top: 30vh;
    }
    .mobile-navigation{
        display: block;
    }
    .element{
        width: 100vw;
        justify-content: center;
    }
    .footer{
        flex-direction: column;
    }
}
/*Small phones*/
@media (max-width: 479px){
    .mobile-navigation{
        display: block;
    }
}